.Dashboardleft {
    
    .Dashboardleft-main {

        .Dashboardleft-main-details {
            margin: 13px 0px;
            p{
                margin: 0;
            }

            .Dashboardleft-main-Orders {
                display: flex;
            }
        }
    }

}