$white: #FFF;
$grey: grey;
$green: green;
$yellow: yellow;
$customerFeedbackTextColor:#616268;
$searchbarBackgroundColor:#292b2f;
$sidebarIconColor: #86888c;
$iconActive: #7494fa;
$backgroundColor: #1f2029;
$DashboardBackgroudColor:#141316;
$HeaderIocnsBackgroundcolor: #6e6f73;
$orderCancelled:#9b4647;
$orderDelevered:#12795d;
$scrollbarColor:#9f9ea5