@import "../../Styles/color";

.Sidebar {
    background-color: $backgroundColor;
    position: fixed;
   
    height: 92vh;

    .Sidebar-icomMenu {
      color: $sidebarIconColor;
      margin-bottom: 30px;
      padding: 0px 20px;
      
      svg {
        width: 25px;
        height: 25px;
      }
    }

    @media screen and (min-width:350px) and (max-width:575px) {
      .Sidebar-icomMenu {
        padding: 0px 6px;
      }
    }

    .Sidebar-icomMenu:first-child {
        color: $iconActive;
        border-left: 2.5px solid $iconActive;
     }
}